# Node & logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
.next.cache/

# Vercel
.vercel/

# Env & OS
.env*
!.env.example
.DS_Store

# Editors
.vscode/
.idea/

